songList{margin-left: 100pt;}
name{color:turquoise; font-style: italic; font-size: 20pt; font-weight: bold;}
title, genre, year{display: block; color:yellowgreen; font-style: italic; font-size: 15pt;}